bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

ScaffoldingReadMe.txt

*.log

notes.db
notes.db-shm
notes.db-wal
notes.db-journal
*.db
*.db-shm
*.db-wal
*.db-journal

*.tar

.DS_Store
Thumbs.db

/app/publish/

secrets.json

